.image-overlay-container {
    position: relative;
    display: block;
    width: 100%;
  }
  
  .image-overlay-container img {
    width: 100%;
    display: block;
  }
  
  .overlay-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    a {
      color:white;
      font-family: 'DM Mono', monospace;
      font-size:1.5rem; 
    }
  }
  
  .image-overlay-container:hover .overlay-link {
    opacity: 1;
  }
  
  .stretched-link {
    color: white;
    text-decoration: none;
  }
  
  