//COLORS
$orange: #FA835F;
$lt-green: #5FFAD1;
$dk-green: #76A598;
$yellow: #FAF25F;
$dk-neutral: #BA8575;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@1,200;1,500;1,600;1,900&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Inter:wght@300&family=Rubik+Mono+One&family=Saira:ital,wght@1,200;1,500;1,600;1,900&family=Space+Mono:wght@400;700&display=swap');

//font-family: 'Saira', sans-serif;
//font-family: 'Space Mono', monospace;





