.events {
    #event-marathon {
        background-color: $orange;
        
    }

    #event-nut {
        background-color: $dk-neutral;
    }

    #event-winter {
        background-color: $yellow;
    }
        
}
